h1 { 
	color: crimson;
}

h4 {
	color: dodgerblue;
}

.wrapper {
	width: 600px;
	margin: 0 auto;
}
 

.main {
	float: left;
	width: 70%;
	height: 200px;
}

.sidebar {
	float: left;
	width: 29%;
	background-color: #ccc;
	height: 200px;
}

.sidebar h4 {
	text-align: center;
	width: 100%;
	
}

